<!DOCTYPE html>
<html>
<title>
        Home Page
</title>
    <head>

<link rel="stylesheet" type="text/css" href="style.css">
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <h1>Qur'an TH</h1> 
</head>

<body>
    <header class="header">
    <nav class="navbar navbar-style">
    <div class="container">
        <div class="navbar-header">
            <!-- <a herf=""><img class="logo" src="180px-Ftu_logo.png"></a> -->
            <ul class="nav navbar-nav">
                <li><a href="">Home</a></li>
                <li><a href="">Tafsir</a></li>
                <li><a href="">Log-in</a></li>
                <li><a href="">Sign-in</a></li>
            </ul>    
        </div>
    </div>
</body>
</html>
