/*** Quran section ***/

.surahsContainer
{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;

}
.surahsContainer .surah 
{
    min-height: 100px;
    width: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
    margin-bottom: 8px;
    text-align: center;
    display:  block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s ease-in-out;
    color: #232323;
    font-size: 18px;
}
.surahsContainer .surah
{
    transform: scale(1.0s);
}


/*** Pop Up ***/
.surah-popup
{
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #fff;
    overflow-y:scroll;
    transform: translateX(100%);
}
.surah-popup.active
{
    transform: translateX(0);
    transition: .7s transform all ease-in-out;
}
.surah-popup::-webkit-scrollbar
{   
    width: 10px;
    background-color: #43a047;
}
.surah-popup::-webkit-scrollbar
{
    background-color: #fff;
}
.surah-popup .close-popup
{
    position: sticky;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: #121212;
    cursor: pointer;
}
.surah-popup .ayat 
{
   
    width: calc(100% - 40px);
    color: #121212;
    text-align: center;
    
}
h5{
    padding-top:10px; 
    margin-top: 10px;
}
.ayatarb
{   padding: 10px;
    font-size: 200%;
    line-height: 2;
    width: 100%;
    border-bottom:2px solid #4c9be6;
    border-radius: 15px;
      margin: auto;
    
}

.ayatarba
{
    font-size: 200%;
    line-height: 2;
    border-bottom:1px solid #4c9be6;
     width:fit-content;
     border-radius: 0px;
      margin: auto;
    
}


.ayateng
{    
    font-size: 150%;
    line-height: 2;
    padding: 5px;
    width: calc(100% - 40px);
    color: #121212;
    text-align: center;
    border-bottom: 3px solid #4c9be6;
    border-radius: 15px;
    margin: auto;
}

.ayatid{

    font-size: 150%;
    line-height: 2;
    border-bottom:1px solid #4c9be6;
     width:fit-content;
     border-radius: 0px;
      margin: auto;
}

.TransContainer{

    width: calc(100% - 40px);
    color: #121212;
    text-align: center;
   

}

.AudioContainer{
    width: calc(100% - 40px);
    color: #121212;
    text-align: center;
}


.audio .play {
    background: #28a745 url(/img/Play.png) center center no-repeat ;
    display:inline;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    float: center;
    border-radius: 15px;
    width: 20px;
    margin-right: 1px;
}



.audio .pause {
    background: #dc3545 url(/img/Pause.png) center center no-repeat ;
    display:inline;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    float: center;
    width: 20px;
    border-radius: 20px;
    margin-left: 1px;
}


/*.surah-popup .ayat .ayateng.active
{    display: block;
    font-size: 150%;
    padding: 5px;
    width: calc(100% - 40px);
    color: #121212;
    text-align: center;
    border-bottom: 3px solid #4c9be6;
    border-radius: 15px;
}

.surah-popup .ayat .ayatid.active{
    display: block;
     font-size: 150%;
    padding: 5px;
    width: calc(100% - 40px);
    color: #121212;
    text-align: center;
    border-bottom: 3px solid #4c9be6;
    border-radius: 15px;
}*/


.SurahNum
{
    background: url(https://www.al-quran.cc/images/system/num-bg.png) center center no-repeat;
    text-align: center;

    background-size: 60px 60px;
    width: 60px;
    height: 60px;
    float: right;
}

.SurahNum span
{
    display:inherit;
    font-size: 18px;
    margin: auto;
    margin-top: 18px;
}

#surah_title{
    font-size: 330%;
    left:30%;
}