
@font-face {
    font-family:'Uthmani' ;
    src: url('assets/font/UthmanicHafs1Ver09.otf')format('truetype');
  }

  .arabic{
     font-family: 'Uthmani', serif;
     font-size: 23px;
     font-weight: normal;
     direction: rtl;
     padding: 0 5px;
     margin: 0;
  }
  .latin{
    font-family:  serif;
    font-size: 17px;
    font-weight: normal;
    direction: ltr;
    padding: 0;
    margin: 0;
  }
  .arabic_number {
    font-size: 28px;
    font-weight: normal;
  }
    .cautions {

    font-size: 13px;
    font-weight: normal;
    direction: ltr;
    padding: 0 5px;
    margin: 0;
    color: red;

  }
  .foot {
    text-align: center;
    padding: 3px;
    background-color:#9be2cd;
    color: white;
    }
  .open-button {
    background-color:#86DCEC ;
    color: #F2F5F5;
    padding: 14px 16px;
    border: none;
    cursor: pointer;
    opacity: 0.8;

    bottom: 10px;
    right: 20px;
    width: 60px;
  }
  .open-button2 {
    background-color: #E473A1;
    color: #F2F5F5;
    padding: 14px 16px;
    border: none;
    cursor: pointer;
    opacity: 0.8;

    bottom: 10px;
    right: 20px;
    width: 100px;
  }
  .open-button3 {
    background-color: #9be2cd;
    color: #F2F5F5;
    padding: 14px 16px;
    border: none;
    cursor: pointer;
    opacity: 0.8;

    bottom: 10px;
    right: 20px;
    width: 100px;
  }
  .open-button4 {
    background-color: #9be2cd;
    color: #F2F5F5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .open-button5 {
    background-color:#86DCEC ;
    color: #F2F5F5;
    padding: 14px 16px;
    border: none;
    cursor: pointer;
    opacity: 0.8;

    bottom: 10px;
    right: 20px;
    width: 100px;
  }


  .latin2{
    font-family:  serif;
    font-size: 20px;
    font-weight: normal;
    direction: rtl;
    padding: 0;
    margin: 0;
  }
   .arabic_number {
     font-size: 28px;
     font-weight: normal;

  }

  .footer {
      text-align: center;
      padding: 3px;
      background-color:#9be2cd;
      color: white;
    }.text {

      color: white;
      font-size: 10vw;
      font-weight: bold;
      text-align: center;
    }

    .header-dark {
      background-color:#9be2cd;
      background-size:cover;
      padding-bottom:80px;
    }

    :root{
    --bg-body:#fff;
    --bg-hero-color: linear-gradient(#add100, #7b920a);
    --icon-color: #fff;
    --text-color:#fff;
    --sreach-bar:#fff;
    --text-in:#000;
    --bt-search-icon:#48b749;
    --bg-col:#fff;
    --boder-lis:#91740c3d;
    --no-lis:#48b749;
    --title-lis:#000;
  }
 .bg{
    background-color:var(--bg-body) ;
  }

  .dark-mode{
    --bg-body:#18191a;
    --bg-hero-color: #18191a;
    --icon-color: #ccc;
    --text-color:#ccc;
    --sreach-bar:#ccc;
    --text-in:#ccc;
    --bt-search-icon:#242526;
    --bg-col:#242526;
    --boder-lis:#464b50;
    --no-lis:#ccc;
    --title-lis:#F2F5F5;
  }
/*nev */
    .hero{
      background:var(--bg-hero-color);
      position: static;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
    }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }


  .topnav {
    position: static;
    width: 100%;
    display: block;
    transition: top 0.3s;
    overflow: hidden;
    display: flex;
    justify-content:  space-between;
    align-items: center;
    min-height: 8vh;

  }

  .topnav a {
    float: left;
    display: block;
    color: var(--icon-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
  .topnav span.text {
    font-size: 17px;

  }
  .topnav ul {
    display: flex;
    float: right;
    padding: 0 10px;

  }
  .topnav ul li {
    position: relative;
    list-style: none;
    width: 50px;
    height: 50px;
    z-index: 1;

  }
  .topnav ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


  }
  .topnav ul li a .icon {
    position: relative;
    line-height: 50px;
    transition: 0.5s;
    font-size: 25px;
  }

  .topnav ul li.active a .icon {
    font-size: 25px;
    transform: translateY(-6px);
  }

  .topnav ul li a .text {
    position: absolute;
    font-size: 12px;
    color: var(--text-color);
    bottom: 20px;
    font-weight: 400;
    transition: 0.25s;
    text-transform: uppercase;
    transform: scale(0);

  }
  .topnav ul li.active a .text{
    transform: scale(1);
  }

  .topnav a.active {
    color: var(--text-color);
  }

  .top .search-container {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    justify-content: center;
    display: flex;
  }
  .search-bar{
    width: 100%;
    max-width: 700px;
    background: var(--sreach-bar);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 1px 5px;

  }

  .search-bar input{
    background: transparent;
    flex: 1;
    border-radius: 60px;
    border:none;
    outline: none;
    padding: 10px 15px;
    font-size: 20px;
    color: var(--text-in);
  }


  .search-bar button ion-icon{
    width: 25px;
    color: var(--icon-color);

  }
  .search-bar button{
    border: 0;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    background: var(--bt-search-icon);
    cursor: pointer;

  }
  .topnav input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
  }

  .top .search-container button {

    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;

  }
  .top .search-container button:hover {
    background: #ccc;
  }

  .popular-searches {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 0 24px 20px;

  }
  .popular-searches a{
    margin-inline: 5px;
    border: 2px;
    border-radius: 3em;
    box-shadow: 0 3px 11px 1px rgb(0 0 0 / 3%);
    color: black;
    text-decoration: none;
    font-size: 15px;
  }
  .popular-searches a:hover{
    color: #027464;
  }
  .quran{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1px 0 24px 12px;
  }
/*home*/
  .surahh{
    max-width: 80rem;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-margin-start: auto;
  margin-inline-start: auto;
  -webkit-margin-end: auto;
  margin-inline-end: auto;
  --flow-side-spacing: var(--spacing-small);
  -webkit-padding-start: var(--flow-side-spacing);
  padding-inline-start: var(--flow-side-spacing);
  -webkit-padding-end: var(--flow-side-spacing);
  padding-inline-end: var(--flow-side-spacing);
  
  }
  .grid{
    display: grid;
    padding: 16px 200px;
    background-color:while;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
  }
  .col{
    position: relative;
    width: 100%;
    min-height: 0;
    padding-right: 0;
    padding-left: 0;
    background-color: var(--bg-col);
    cursor: pointer;
    color: initial;
    border: 1px solid var(--boder-lis);
    border-radius: 5px;

  }
  .list{
  height: 100%;

  display: flex;
  align-items: center;
  padding: 10px 10px;
  }

  .surah-no{
    font-size: 17px;
    color: var(--no-lis);
    font-weight: 600;
    padding-left: 18px;
    padding-right: 18px;
    width: 34px;
    height: 40px;
    background-image: url(https://quran.kemenag.go.id/assets/images/icons/ic-frame-number.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 0;
    line-height: 16px;
    text-align: center;
  }

   .info{
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  min-width: 0;
  margin-right: 8px;
  padding-left: 20px;

  }
  .title{
    display: block;
    font-size: 17px;
    color: var(--title-lis);

  }
  .ayah{
    font-family: 'Uthmani', serif;
    font-weight: normal;
    font-size: 15px;
    direction: rtl;
    padding: 0;
    margin: 0 5px 0px 20px;
    float: right;
  }
  .subtitle{
    display: block;
    font-size: 13px;
    color: #bdbdbd;
    margin-top: 2px;
    font-weight: 500;
    letter-spacing: .3px
  }
  .col:hover{
    background-color: #e4cb6821;
    box-shadow: 0 4px 21px -3px rgba(51,51,51,.15);
    border-color: #48b749;
  }
  .info a{
    text-decoration: none;

  }
  @media screen and (max-width: 600px) {

    .topnav .search-container {
      float: none;
      background: orange ;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
    body {margin:2rem;}

  .modal-dialog {
        max-width: 800px;
        margin: 30px auto;
    }

  .modal-body {
    position:relative;
    padding:0px;
  }
  .close {
    position:absolute;
    right:-30px;
    top:0;
    z-index:999;
    font-size:2rem;
    font-weight: normal;
    color:#fff;
    opacity:1;
  }

  .bs-example{
    margin: 20px;
  }
  .modal-dialog iframe{
      margin: 0 auto;
      display: block;
  }

  }
/*navbar */
  .detail{
    background:var(--bg-hero-color);
  }

  .t {
    background-color: white;
    color: grey;
    font-family:  serif;
    font-size: 15px;
    font-weight: normal;
    direction: rtl;
    padding: 0;
    margin: 0;
  }
  
  @font-face {
      font-family: quran-font;
      font-style: normal;
      font-weight: 400;
      src: url('assets/font/AmiriQuranColored.woff') format('truetype');
    }
  
  .quran-font {
    font-family: quran-font;
    font-size: 26px;
    color: #FFFFFF;
  }
  .quran-font-intro  p{
    font-family: quran-font;
    direction: rtl;
    font-size: 26px;
    line-height: 200%;
    color: #000000;
  }
  .highlight{
    background:#00FF00;
    padding:1px;
    border:#00CC00 dotted 1px;
  }
  .btt{
    padding: 0 0 24px 20px;
  }
  .btt button{
    color: #48b749;
    border: 1px solid;
    border-radius: 20px
  }
  .btt button:hover{
    background-color: #48b749;
      color: #fff;
  }
  .btt a{
    color: #48b749;
    border: 1px solid;
    border-radius: 20px
  }
  .btt a:hover{
    background-color: #48b749;
      color: #fff;
  }
  .form-control{
    color: #48b749;
    border: 1px solid;
    border-radius: 20px
  }
  .form-control option{
    background-color: #48b749;
    color: #fff;
  }
  .col-md-2{
    direction: inherit;
  }
  .open-button{
    background-color: #fff;
    color: #000000;
    border: none;
    padding: 0px 5px;
  }
  .open-button .icon{
    font-size: 20px;
  }
  .open-button2{
    background-color: #fff;
    color: #000000;
    border: none;
    padding: 2px 0px;
    width: 0;
  }
  .open-button2 .icon{
    font-size: 20px;
  
  }
