
 @font-face {
  font-family:'Uthmani' ;
  src: url('assets/font/UthmanicHafs1Ver09.otf')format('truetype');
}
.arabic{
   font-family: 'Uthmani', serif;
   font-size: 23px;
   font-weight: normal;
   direction: rtl;
   padding: 0 5px;
   margin: 0;
}
.latin{
  font-family:  serif;
  font-size: 17px;
  font-weight: normal;
  direction: ltr;
  padding: 0;
  margin: 0;
}
.arabic_number {
  font-size: 28px;
  font-weight: normal;
}
  .cautions {
  
  font-size: 13px;
  font-weight: normal;
  direction: ltr;
  padding: 0 5px;
  margin: 0;
  color: red;

}
.foot {
  text-align: center;
  padding: 3px;
  background-color:#006666;
  color: white;
  }
.open-button {
  background-color:#006666 ;
  color: #F2F5F5;
  padding: 14px 16px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  
  bottom: 10px;
  right: 20px;
  width: 60px;
}
.open-button2 {
  background-color: #006666;
  color: #F2F5F5;
  padding: 14px 16px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  
  bottom: 10px;
  right: 20px;
  width: 100px;
}
.open-button3 {
  background-color: #006666;;
  color: #F2F5F5;
  padding: 14px 16px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  
  bottom: 10px;
  right: 20px;
  width: 100px;
}
.open-button4 {
  background-color: #006666;;
  color: #F2F5F5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.open-button5 {
  background-color:#006666 ;
  color: #F2F5F5;
  padding: 14px 16px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  
  bottom: 10px;
  right: 20px;
  width: 100px;
}



.latin2{
  font-family:  serif;
  font-size: 20px;
  font-weight: normal;
  direction: rtl;
  padding: 0;
  margin: 0;
}
 .arabic_number {
   font-size: 28px;
   font-weight: normal;
   
}

.footer {
    text-align: center;
    padding: 3px;
    background-color:#000000;
    color: white;
  }.text {
    
    color: white;
    font-size: 10vw; 
    font-weight: bold;
    text-align: center;
  }

  .header-dark {
    background-color:#000000;
    background-size:cover;
    padding-bottom:80px;
  }

* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color:#006666;
}

.topnav a {
  float: left;
  display: block;
  color: rgb(253, 252, 252);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color:#000000;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
  body {margin:2rem;}

.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }



.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}

.bs-example{
  margin: 20px;
}
.modal-dialog iframe{
    margin: 0 auto;
    display: block;
}
}

