html { font-size: 62.5%; }
*, *:before, *:after {
  box-sizing: content-box;
}

body {
  font-size: 1.4rem;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.2em;
  color: #333;
  background: #ecf0f1;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  line-height: 1.3;
  margin: 5rem;
  text-transform: uppercase;
}

table {
  line-height: 1;
  width: 100%;
  max-width: 80rem;
  margin: 5rem auto;}
  
  td {
    width: 20% ;
    text-align: center;
    padding: 1rem;
  }
  
  tr:first-child {
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  
  tr:last-child {
    font-size: 2.8rem;
  }
  
  span {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0;
    vertical-align: top;
  }
  


a {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 400;
  color: #3498db;
  text-decoration: none;
}
