#audio{
    color:black;
   margin-left: auto;
}h4{
 font-family: 'Amiri', serif;
}
p{ font-family: 'Amiri', serif;
    font-size: 30px;
   
    text-align: center;
    margin-top: 20px;
    
}.serif {
    font-family: "Times New Roman", Times, serif;
  }
h2{
    font-size: 40px;}
    
nav+p{
    font-size: 50px;
    
    
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:#32e0c4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
    margin-top: 0%;
   
  }
  
  .sidenav a {
    
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: rgb(140, 140, 207);
    
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 25px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 0px;
    display: inline;
    margin: right;
    
    
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .row{
    margin-left: 10px;
  }strong{
    font-size: large;
  }#audioControl{
   position: fixed;
   left: 0;
   bottom:0px;
   padding: 10px;
   background-color: white;
   
   margin-top: 0px;
   
   
}#navSelect
{
    border: 0;
    background:none;
  
    font-weight: bold;
    font-size: 15px;
}.dark-mode{
 background-color:black;
 color: white;
}body{
 background-color: white;
 color: #20f3fa;
}.dark-mode .sidenav{
 background-color:black;
 color: white;
}.dark-mode #navSelect{
 background-color:black;
 color:white;
}.dark-mode #audioControl .container-fluid{
 background-color;
 color: white;
}.dark-mode .hr{
 background-color: #fff;
}#kk{
 margin-bottom: 150px;
}i{
 cursor: pointer;
}.dropdown-item  h6:hover{
 color: rgb(0, 83, 88);
 opacity: 50%;
}.dropdown-menu a:hover{
 opacity: 80%;
 
}



  
    
  
 

     
    
     

